.buttons-container .button, .add-button {
  font-size: 2em;
  width: 350px;
  height: auto;
  min-height: 150%;
  display: inline-block;
  padding: 50px;
  margin: 15px;
  text-align: center;
  border: 8px solid rgb(101, 142, 148);
}
.buttons-container .button:hover, .add-button:hover {
  background-color: rgb(185, 214, 221);
}
.buttons-container .button .button-name{
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1em; 
  max-height: 2em;
}
.buttons-container .add-button .add-button-plus {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1em; 
  max-height: 2em;
}