.buttons-container .add-button {
  font-size: 2em;
  width: 350px;
  height: auto;
  min-height: 150%;
  display: inline-block;
  padding: 50px 10px;
  margin: 15px;
  text-align: center;
  border: 2px solid white;
  color: white;
}
.buttons-container .add-button:hover {
  border: 2px solid #8fc1e5;
}
.buttons-container .add-button .add-button-plus {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1em; 
  max-height: 2em;
}