.button {
  font-size: 2em;
  width: 350px;
  height: auto;
  min-height: 150%;
  display: inline-block;
  padding: 50px 10px;
  margin: 15px;
  text-align: center;
  border: 8px solid rgb(101, 142, 148);
}
.button:hover {
  background-color: rgb(185, 214, 221);
}
.button .button-speak {
  float: left;
  width: 15%;
  overflow: hidden;
  border: 1px solid black;
}
.button .button-name{
  width: 70%;
  border: 1px solid black;
  float: left;
}
.button .button-edit {
  width: 15%;
  overflow: hidden;
  border: 1px solid black;
}
.button .button-speak:hover, .button-edit:hover {
  background-color: rgb(186, 236, 222);
  cursor: pointer;
}