.button {
  font-size: 2em;
  width: 350px;
  height: auto;
  min-height: 150%;
  display: inline-block;
  padding: 50px 10px;
  margin: 15px;
  text-align: center;
  border: 2px solid white;
  color: white;
}
.button:hover {
  border: 2px solid #8fc1e5;

}
.button .button-speak {
  float: left;
  width: 15%;
  overflow: hidden;
}
.button .button-name{
  width: 70%;
  float: left;
  font-size: 1.5rem;
  margin-top: 10px;
}
.button .button-edit {
  width: 15%;
  overflow: hidden;
}
.button .button-speak:hover, .button-edit:hover {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.527);
}