body {
  margin: 0;
  padding: 20px 40px;
  background-image: url("/src/assets/banner-bg.png");

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  box-sizing: border-box;
}